.lead {
  @media (min-width: 1280px) {
    margin: 56px 12% 0;
  }

  @media (max-width: 1279px) {
    margin: 48px 48px 0;
  }

  @media (max-width: 1024px) {
    margin: 41px 0 0;
  }

  @media (max-width: 768px) {
    margin: 44px 0 0;
  }

  @media (max-width: 425px) {
    margin: 48px 0 0;
  }
}
